.headerContainer {
  min-height: calc(60vh - 3.125rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background: var(--blue-500);

  .headerText {
    padding-left: 0.8125rem;

    font-size: rem;

    h1 {
      font-weight: 50;
    }
  }

  img {
    width: 75%
  }
}