.headerContent {
  max-width: 1500px;
  margin: 0 auto;
  background: var(--purple-content);
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  border-radius: 25px;

  h1 {
    font-size: 10rem;
  }
}