.OpenModal {
  button {
    border: 0;
    font-size: 1rem;
    padding: 0.5rem;
    background: var(--blue-500);
    border-radius: 5px;
    color: var(--white);

    &:hover {
      background: var(--blue-900);
    }
  }
}



.OverlayStyles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1000;

  .ModalStyles {
    background-color: rgba(0, 0, 0, .85);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .CloseButton {
      background: #ef4444;
      transition: filter ease 0.4s;

      &:hover {
        filter: brightness(0.9) blur(0.5px);
      }
    }

    input {
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 1.25rem;
      color: black;
    }

    textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      border: 0;
      border-radius: 4px;
      background-color: var(--gray-200);
      font-size: 16px;
      resize: none;
    }

    .SentButton {
      margin-top: 10px;
      width: 100%;
    }
  }
}
